body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
#chat-container{
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: center;
    align-items: center;
}
#chat-log {
    width: 450px;
    height: 500px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
}
#chat-form {
    margin-top: 10px;
}
.user-message {
    color: #007bff;
}
.bot-message {
    text-align: left;
    color: #28a745;
}
